extends layout

block content
    p.strong Login with your code 
        p Enter the 6-digit verification code generated                          
        .row 
            .col-md-8
            form(action='/authentication/'+id+'/'+lol, method='POST')                            
                .form-group                              
                    input.form-control.number(type='text', name='number', maxlength='6')                                 
                button.btn.btn-primary(type='submit') Activate 