extends layout

block content
    .group
        h3 Our Creative Team
        .Clement(style="width:500px;")
            h5 Clement Wu
            img(src='images/icons/neppy.png' )
            p Meme