extends layout

block content
    .group
        h3(style="text-align:center;") Our Vision
        p(style="text-align: center;") We want to provide the best service to our users so that they can have a pleasant and enjoyable experience in the comfort of their own home with our delivery system or they could choose to meet up and interact with their fellow users. We here at SG Hawt believe that satisfactory results are only achieved with our quality service and sincerely hope that our users continue to enjoy the wonderful experience of our website.

        h3(style="text-align:center;") Core Values
        p(style="text-align:center;") Dilligence
        p(style="text-align:center;") Integrity
        p(style="text-align:center;") Friendliness