extends layout
block content
  h1(style='text-align: center;') Account Info
  .container
    .row.profile
      .col-md-3
        .profile-sidebar
          // SIDEBAR USERPIC
          .profile-userpic
          // END SIDEBAR USERPIC
          // SIDEBAR USER TITLE
          .profile-usertitle
            .profile-usertitle-name #{user.username}
          .profile-usermenu
            ul.nav
              li
                a(href='/bio')
                  i.glyphicon.glyphicon-home
                  | 							Account Settings
              li
                a(href='/password')
                  i.glyphicon.glyphicon-user
                  | 							Password Settings
              li
                a(href='/settings')
                  i.glyphicon.glyphicon-user
                  | 							Profile Picture Settings
              li.active
                a(href='#')
                  i.glyphicon.glyphicon-user
                  | 							Address Settings    
      .col-md-9
        .profile-content
          .container-fluid

            p
            form(action='/address', method='POST')
              #form-group
                label Name:
                input.form-control(name='name',type='text')
              #form-group
                label Address:
                input.form-control(name='addr1',type='text')    
              #form-group
                label Address, line 2:
                input.form-control(name='addr2',type='text')     
              #form-group
                label Unit:
                input.form-control(name='unit',type='text')     
              #form-group
                label Zip/Postal Code:
                input.form-control(name='code',type='number')    
              <br>
                input.btn.btn-primary(type='submit',value='Submit', name="Submit1")
