extends layout
block content
  h1(style='text-align: center;') Account Info
  .container
    .row.profile
      .col-md-3
        .profile-sidebar
          // SIDEBAR USERPIC
          .profile-userpic
          // END SIDEBAR USERPIC
          // SIDEBAR USER TITLE
          .profile-usertitle
            .profile-usertitle-name #{user.username}
          .profile-usermenu
            ul.nav
              li.active
                a(href='#')
                  i.glyphicon.glyphicon-home
                  | 							Account Settings
              li
                a(href='/password')
                  i.glyphicon.glyphicon-user
                  | 							Password Settings
              li
                a(href='/settings')
                  i.glyphicon.glyphicon-user
                  | 							Profile Picture Settings
      .col-md-9
        .profile-content
          .container-fluid
            b Bio: 
            p
            form(action='/bio', method='POST')
              | Bio: 
              input(type='text', name='Bio')
              input(type='submit', name='uploadimage', value='Send')
