extends layout

block content
    if user
        .row
            .col-md-4
                .profilecenter
                    if pic!=null
                        img(style='border-radius: 50%', width='100', height='100', src="/profilepic/" + pic)
                    else  
                        img(style='border-radius: 50%', width='100', height='100', src="/profilepic/download.jpg")
                    .details
                        h5.name  #{current}
                        ul
                            li
            .col-md-8
                .card
                    .card-header Bio           
                    .card-body #{bio}         
                br
                br         
                ul#myTab.nav.nav-tabs(role='tablist')
                    li.nav-item
                        a#home-tab.nav-link(href='/profile/'+current) Listing                    
                    li.nav-item
                        if user.username == current
                        a#contact-tab.nav-link(href='#') Wallet  
                    li.nav-item
                        a#contact-tab.nav-link(href='/profile/'+current+ '/wishlist') Wishlist   
                    li.nav-item
                        a#contact-tab.nav-link.active(href='#') Comments    
                #myTabContent.tab-content
                    #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')   
                        br      
                        div.addCommentForm
                         div(style='width: 70%;')
                            form( method="post", action="/profile/:username/comments")
                                if user.username != current
                                    div
                                        .form-group 
                                        input.form-control(type='text', name='comment', placeholder='Comment your experience with this seller!')
                                        br
                                        input(type="submit", value="Comment", class="btn-success" , style="float: right;")
                                    br
                                    br
                                        //- div
                                        //-     span.label Comment :
                                        //-     textarea(name="comment")
                                        //- div#addCommentSubmit
                                        //-     input(type="submit", value="Save")
                                    br
                                    br
                            #comments
                                each comment in comments
                                    div.comment
                                    div.name= comment.username

                                    br
                                    div.content= comment.content 
                                    hr