extends layout

block content
  form(action='/profile/' +current+ '/wallet/edit', method='POST')
        .form-group
            label Card type:
            input.form-control(type='text', name='type')
        .form-group
            label Card number:
            input.form-control.number(type='text', name='number', ng-model='ncard', maxlength='19')
        .form-group
            label Expiry Date:
            .row
                .col-md-6
                    input.form-control.expire(type='text', name='date', maxlength='2', placeholder='MM')
                .col-md-6
                    input.form-control.expire(type='text', name='year', maxlength='4', placeholder='YYYY')
        .form-group
            .row
                .col-md-1
                .col-md-5
                    label CVV:
                    input.form-control.expire(type='text', name='cvv', maxlength='3')
                .col-md-5
                    
                .col-md-1
        button.btn.btn-primary(type='submit') Submit   