extends layout

block content
    .container
        .jumbotron
            h1 Oh no!
            br
            h4 The page you're looking for doesn't exist..
            br
            h4 You might have entered or click on a URL that doesn't exist in our website directory.
            br
            h4 You can navigate to any page from the navigation bar at the top or click <a style="font-weight:900; font-size:110%;" href="/"> here </a>
            br
            h4 Sorry for the Inconvenience.

