extends layout
block content
    section.slide1
      .wrap-slick1
        .slick1
          .item-slick1.item1-slick1(style='background-image: url(images/rings.jpg);width:50%;height:50%;')
            .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
              span.caption1-slide1.m-text1.t-center.animated.visible-false.m-b-15(data-appear='fadeInDown' style="color:black;") Women Collection 2018
              h2.caption2-slide1.xl-text1.t-center.animated.visible-false.m-b-37(data-appear='fadeInUp' style="color:black;") New arrivals
              .wrap-btn-slide1.w-size1.animated.visible-false(data-appear='zoomIn')
                // Button
                a.flex-c-m.size2.bo-rad-23.s-text2.bgwhite.hov1.trans-0-4(href='product.html') Shop Now
          .item-slick1.item2-slick1(style='background-image: url(images/shoes.jpg);')
            .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
              span.caption1-slide1.m-text1.t-center.animated.visible-false.m-b-15(data-appear='rollIn' style="color:black;") Women Collection 2018
              h2.caption2-slide1.xl-text1.t-center.animated.visible-false.m-b-37(data-appear='lightSpeedIn' style="color:black;") New arrivals
              .wrap-btn-slide1.w-size1.animated.visible-false(data-appear='slideInUp')
                // Button
                a.flex-c-m.size2.bo-rad-23.s-text2.bgwhite.hov1.trans-0-4(href='product.html') Shop Now
          .item-slick1.item3-slick1(style='background-image: url(images/pendant.jpg);')
            .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
              span.caption1-slide1.m-text1.t-center.animated.visible-false.m-b-15(data-appear='rotateInDownLeft' style="color:black;") Women Collection 2018
              h2.caption2-slide1.xl-text1.t-center.animated.visible-false.m-b-37(data-appear='rotateInUpRight' style="color:black;") New arrivals
              .wrap-btn-slide1.w-size1.animated.visible-false(data-appear='rotateIn')
                // Button
                a.flex-c-m.size2.bo-rad-23.s-text2.bgwhite.hov1.trans-0-4(href='product.html') Shop Now
    