doctype html
html(lang='en')
  head
  block head
    title SG HAWT
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='/images/icons/favicon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/fonts/themify/themify-icons.css')
    link(rel='stylesheet', type='text/css', href='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    link(rel='stylesheet', type='text/css', href='/fonts/elegant-font/html-css/style.css')
    link(rel='stylesheet', type='text/css', href='/vendor/animate/animate.css')
    link(rel='stylesheet', type='text/css', href='/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/animsition/css/animsition.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/select2/select2.min.css')
    link(rel='stylesheet', type='text/css', href='/vendor/daterangepicker/daterangepicker.css')
    link(rel='stylesheet', type='text/css', href='/vendor/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='/vendor/lightbox2/css/lightbox.min.css')
    link(rel='stylesheet', type='text/css', href='/css/util.css')
    link(rel='stylesheet', type='text/css', href='/css/profile.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='/css/container.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',type='text/javascript')
   
  body.animsition
    // Header
    header.header1
      // Header desktop
      .container-menu-header
        .wrap_header
          // Logo
          a.logo(href='/')
            img(src='/images/icons/logo.png', alt='IMG-LOGO')
          // Menu
          .wrap_menu
            nav.menu
              ul.main_menu
                li
                  a(href='/') Home
                li
                  a(href='/product') Shop
                li
                  a(href='/about') About
                li
                  a(href='contact.html') Contact
                //- li
                //-   a(href='/chat') Chat test 
              ul.nav.navbar-nav.flex-row.justify-content-between.ml-auto
          // Header Icon
        if user
          .header-icons
            if(wallet!=null)
              a(href='/profile/'+user.username+'/wallet') $#{wallet.amount}.00
            else
              a(href='/profile/'+user.username+'/wallet') $0.00
            li.nav-item.dropdown
              a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') #{user.username}
              .dropdown-menu
                a.dropdown-item(href='/profile/'+user.username) User Profile
                if (user.isAdmin === true)
                  a.dropdown-item(href='/admin') Admin
                a.dropdown-item(href='/bio') Edit profile
                a.dropdown-item(href='/registeritem') Register Item
                a.dropdown-item(href='/profile/'+user.username+'/wishlist') Wishlist
                a.dropdown-item(href='/transaction') Transactions
                a.dropdown-item(href='/cart') Cart
                a.dropdown-item(href='/logout') Logout
            li
                a(href='/chat') Chat 
        else
          .header-icons
            li.nav-item.dropdown
              a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Login/Register
              .dropdown-menu
                a.dropdown-item(href='/register') Register
                a.dropdown-item(href='/login') Login
      // Header Mobile
      .wrap_header_mobile
        // Logo moblie
        a.logo-mobile(href='index.html')
          img(src='/images/icons/logo.png', alt='IMG-LOGO')
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner
      // Menu Mobile
      .wrap-side-menu
        nav.side-menu
          ul.main-menu
            li.item-menu-mobile
              a(href='/login') Home
            li.item-menu-mobile
              a(href='product.html') Shop
            li.item-menu-mobile
              a(href='product.html') Sale
            li.item-menu-mobile
              a(href='blog.html') Blog
            li.item-menu-mobile
              a(href='about.html') About
            li.item-menu-mobile
              a(href='contact.html') Contact   
    .container
      != messages('message', locals)
      if errors
        each error in errors
          div(class="alert alert-danger") #{error.msg}

      block content
      <br />
        // Footer
    footer.bg6.p-t-45.p-b-43.p-l-45.p-r-45
      .flex-w.p-b-90
          .w-size6.p-t-30.p-l-15.p-r-15.respon3
              h4.s-text12.p-b-30 GET IN TOUCH
              div
              p.s-text7.w-size27
                  | Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
              .flex-m.p-t-30
                  a.fs-18.color1.p-r-20.fa.fa-facebook(href='#')
                  a.fs-18.color1.p-r-20.fa.fa-instagram(href='#')
                  a.fs-18.color1.p-r-20.fa.fa-pinterest-p(href='#')
                  a.fs-18.color1.p-r-20.fa.fa-snapchat-ghost(href='#')
                  a.fs-18.color1.p-r-20.fa.fa-youtube-play(href='#')
          .w-size7.p-t-30.p-l-15.p-r-15.respon4
              h4.s-text12.p-b-30 Categories
              ul
              li.p-b-9
                  a.s-text7(href='#') Men
              li.p-b-9
                  a.s-text7(href='#') Women
              li.p-b-9
                  a.s-text7(href='#') Dresses
              li.p-b-9
                  a.s-text7(href='#') Sunglasses
          .w-size7.p-t-30.p-l-15.p-r-15.respon4
              h4.s-text12.p-b-30 Links
              ul
              li.p-b-9
                  a.s-text7(href='#') Search
              li.p-b-9
                  a.s-text7(href='#') About Us
              li.p-b-9
                  a.s-text7(href='#') Contact Us
              li.p-b-9
                  a.s-text7(href='#') Returns
          .w-size7.p-t-30.p-l-15.p-r-15.respon4
              h4.s-text12.p-b-30 Help
              ul
              li.p-b-9
                  a.s-text7(href='#') Track Order
              li.p-b-9
                  a.s-text7(href='#') Returns
              li.p-b-9
                  a.s-text7(href='#') Shipping
              li.p-b-9
                  a.s-text7(href='#') FAQs
          .w-size8.p-t-30.p-l-15.p-r-15.respon3
              h4.s-text12.p-b-30 Newsletter
              form
              .effect1.w-size9
                  input.s-text7.bg6.w-full.p-b-5(type='text', name='email', placeholder='email@example.com')
                  span.effect1-line
              .w-size2.p-t-20
                  // Button
                  button.flex-c-m.size2.bg4.bo-rad-23.hov1.m-text3.trans-0-4 Subscribe
          .t-center.p-l-15.p-r-15
          .t-center.s-text8.p-t-20
              | Copyright © 2018 All rights reserved. | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
    block scripts
    script(type='text/javascript', src='/vendor/jquery/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/vendor/animsition/js/animsition.min.js')
    script(type='text/javascript', src='/vendor/bootstrap/js/popper.js')
    script(type='text/javascript', src='/vendor/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/vendor/select2/select2.min.js')
    script(type='text/javascript', src='/vendor/slick/slick.min.js')
    script(type='text/javascript', src='/js/slick-custom.js')
    script(type='text/javascript', src='/vendor/countdowntime/countdowntime.js')
    script(type='text/javascript', src='/vendor/lightbox2/js/lightbox.min.js')
    script(type='text/javascript', src='/vendor/sweetalert/sweetalert.min.js')
    script(src="https://unpkg.com/js-alert/dist/jsalert.min.js")
    script(src='/js/main.js')
    script(src='/js/productitem.js') 
    <script type="text/javascript">function tb8_makeArray(n){this.length = n;return this.length;}tb8_messages = new tb8_makeArray(3);tb8_messages[0] = "SG HAWT";tb8_messages[1] = "Where Users";tb8_messages[2] = "converse and trade!";tb8_rptType = 'infinite';tb8_rptNbr = 5;tb8_speed = 100;tb8_delay = 2000;var tb8_counter=1;var tb8_currMsg=0;var tb8_tekst ="";var tb8_i=0;var tb8_TID = null;function tb8_pisi(){tb8_tekst = tb8_tekst + tb8_messages[tb8_currMsg].substring(tb8_i, tb8_i+1);document.title = tb8_tekst;tb8_sp=tb8_speed;tb8_i++;if (tb8_i==tb8_messages[tb8_currMsg].length){tb8_currMsg++; tb8_i=0; tb8_tekst="";tb8_sp=tb8_delay;}if (tb8_currMsg == tb8_messages.length){if ((tb8_rptType == 'finite') && (tb8_counter==tb8_rptNbr)){clearTimeout(tb8_TID);return;}tb8_counter++;tb8_currMsg = 0;}tb8_TID = setTimeout("tb8_pisi()", tb8_sp);}tb8_pisi()</script>