extends layout

block content
    .jumbotron()
        h2 Enter your email 
        form(method='POST', action='/password_reset')
          #form-group
            .row
              .col-md-8
                label   
                input.form-control(name='email',type='text')
              .col-md-4
          br
          input.btn.btn-primary(type='submit',value='Submit')