extends layout

block content
  h3(style="text-align:center;font-weight:bold;") Payment page
  container
    .row
      .col-md-3
        img(style="height:208px;width:147px;text-align:center;display:block;margin-left: 15%;" src= "/itempic/" + data.itemimageupload )
      .col-md-8
        p(style="font-weight:bolder;font-size:100%") Name of item: #{docs.itemname}
        p(style="font-weight:bolder;font-size:150%") Price of item:$ #{docs.itemprice}
        p(style="font-weight:bolder;font-size:150%") Your wallet balance:$ #{buyer.amount}
        if buyer.amount > docs.itemprice
          form(method ='POST' action='/payment/'+docs.uniqueID )
            input.btn.btn-info(type="submit" value="Pay now!" name="paynow" style="margin-left:44%;margin-top:20px")
        else
          p(style="text-align:center;font-weight:bold;") Your wallet has insufficient balance. Please add more via the profile page!
      

