extends layout

block content
  h3(id="meow" style="text-align:center;font-weight:bold;") Product Page
  form(method='POST', action='/product')
  html
  body
    // Header cart noti
    .header-cart.header-dropdown
      ul.header-cart-wrapitem
        li.header-cart-item
          .header-cart-item-img
            img(src="images/item-cart-01.jpg" alt="IMG")
          .header-cart-item-txt
            a.header-cart-item-name(href="#")
              | White Shirt With Pleat Detail Back
            span.header-cart-item-info
              | 1 x $19.00
        li.header-cart-item
          .header-cart-item-img
            img(src="images/item-cart-02.jpg" alt="IMG")
          .header-cart-item-txt
            a.header-cart-item-name(href="#")
              | Converse All Star Hi Black Canvas
            span.header-cart-item-info
              | 1 x $39.00
          //{% for i in itemimageupload %}
              img(src= "{{ itemimageupload[i] }}" alt="IMG")
            {% endfor %}
            {% for i in itemname %}}
            .header-cart-item-txt
              a.header-cart-item-name(href="#")
                | itemname[i]
            {% endfor %}
            {% for i in itemprice %}}
              span.header-cart-item-info
                | itemprice[i]
            {% endfor %}//
        li.header-cart-item
          .header-cart-item-img
            img(src="images/item-cart-03.jpg" alt="IMG")
          .header-cart-item-txt
            a.header-cart-item-name(href="#")
              | Nixon Porter Leather Watch In Tan
            span.header-cart-item-info
              | 1 x $17.00
      .header-cart-total
        | Total: $75.00
      .header-cart-buttons
        .header-cart-wrapbtn
          // Button
          a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href="cart.html")
            | View Cart
        .header-cart-wrapbtn
          // Button
          a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href="#")
            | Check Out
    // Header Mobile
    .wrap_header_mobile
      // Logo moblie
      a.logo-mobile(href="index.html")
        img(src="images/icons/logo.png" alt="IMG-LOGO")
      // Button show menu
      .btn-show-menu
        // Header Icon mobile
        .header-icons-mobile
          a.header-wrapicon1.dis-block(href="#")
            img.header-icon1(src="images/icons/icon-header-01.png" alt="ICON")
          span.linedivide2
          .header-wrapicon2
            img.header-icon1.js-show-header-dropdown(src="images/icons/icon-header-02.png" alt="ICON")
            span.header-icons-noti 0
            // Header cart noti
            .header-cart.header-dropdown
              ul.header-cart-wrapitem
                li.header-cart-item
                  .header-cart-item-img
                    img(src="images/item-cart-01.jpg" alt="IMG")
                  .header-cart-item-txt
                    a.header-cart-item-name(href="#")
                      | White Shirt With Pleat Detail Back
                    span.header-cart-item-info
                      | 1 x $19.00
                li.header-cart-item
                  .header-cart-item-img
                    img(src="images/item-cart-02.jpg" alt="IMG")
                  .header-cart-item-txt
                    a.header-cart-item-name(href="#")
                      | Converse All Star Hi Black Canvas
                    span.header-cart-item-info
                      | 1 x $39.00
                li.header-cart-item
                  .header-cart-item-img
                    img(src="images/item-cart-03.jpg" alt="IMG")
                  .header-cart-item-txt
                    a.header-cart-item-name(href="#")
                      | Nixon Porter Leather Watch In Tan
                    span.header-cart-item-info
                      | 1 x $17.00
              .header-cart-total
                | Total: $75.00
              .header-cart-buttons
                .header-cart-wrapbtn
                  // Button
                  a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href="cart.html")
                    | View Cart
                .header-cart-wrapbtn
                  // Button
                  a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href="#")
                    | Check Out
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner
    // Menu Mobile
    .wrap-side-menu
      nav.side-menu
        ul.main-menu
          li.item-topbar-mobile.p-l-20.p-t-8.p-b-8
            span.topbar-child1
              | Free shipping for standard order over $100
          li.item-topbar-mobile.p-l-20.p-t-8.p-b-8
            .topbar-child2-mobile
              span.topbar-email
                | fashe@example.com
              .topbar-language.rs1-select2
                select.selection-1(name="time")
                  option USD
                  option EUR
          li.item-topbar-mobile.p-l-10
            .topbar-social-mobile
              a.topbar-social-item.fa.fa-facebook(href="#")
              a.topbar-social-item.fa.fa-instagram(href="#")
              a.topbar-social-item.fa.fa-pinterest-p(href="#")
              a.topbar-social-item.fa.fa-snapchat-ghost(href="#")
              a.topbar-social-item.fa.fa-youtube-play(href="#")
          li.item-menu-mobile
            a(href="index.html") Home
            ul.sub-menu
              li
                a(href="index.html") Homepage V1
              li
                a(href="home-02.html") Homepage V2
              li
                a(href="home-03.html") Homepage V3
            i.arrow-main-menu.fa.fa-angle-right(aria-hidden="true")
          li.item-menu-mobile
            a(href="product.html") Shop
          li.item-menu-mobile
            a(href="product.html") Sale
          li.item-menu-mobile
            a(href="cart.html") Features
          li.item-menu-mobile
            a(href="blog.html") Blog
          li.item-menu-mobile
            a(href="about.html") About
          li.item-menu-mobile
            a(href="contact.html") Contact
    // Title Page
    section.bg-title-page.p-t-50.p-b-40.flex-col-c-m(style="background-image:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.6)),url(images/womenimage.jpg);")
      h2.l-text2.t-center(style="color:black;")
        | Women
      p.m-text13.t-center(style="color:black;")
        | New Arrivals Women Collection 2018
    // Content page
    section.bgwhite.p-t-55.p-b-65
      .container
        .row
          .col-sm-6.col-md-8.col-lg-9.p-b-50
            // 
            .flex-sb-m.flex-w.p-b-35
              .flex-w(style="margin-left:35%")
                <form action="/product" method="post" id="search">
                  select.selection-2(name="sorting" style="padding:4px;")
                    option Sort by...
                    option(value="itemname") A-Z
                    option(value="itemcondition") Item Condition
                    option(value="itemprice") Price
                  select.selection-2(name="sortasc" style="padding:4px;")
                    option(value='ASC') ASC
                    option(value='DESC') DESC
              div.form-group
                <form action="/product" method="post" id="search">
                  <input type="text" name="searchBar" placeholder="Search for..." style="margin-top:15px;">
                  <input type="submit" value="Search">
                </form>

                //- <script>
                //-   jQuery(function($){
                //-     $('#search').submit(function(){
                //-       var filter = $('#search');
                //-       $.ajax({
                //-         url:filter.attr('action'),
                //-         data:filter.serialize(), // form data
                //-         type:filter.attr('method'), // POST
                //-         success:function(data){
                //-             console.log(data);
                //-         }
                //-       });
                //-       return false;
                //-     });
                //-   });
                //- </script>
            // Product
            .row(style="margin-left:25%")
              .col-sm-12.col-md-6.col-lg-4.p-b-50        
              .row
                // Block2 
                .row-sm-4
                each datas, i in data
                  .col-sm-12.col-md-6.col-lg-4.p-b-50
                    .block2(style="margin-right:520px;")
                      a(href='productitem/' + datas._id)
                        img(src= "/itempic/" + datas.itemimageupload,alt="IMG-PRODUCT", style="width:250px;height:320px;")
                      .block2-txt.p-t-20
                        a.block2-name.dis-block.s-text3.p-b-5(href="productitem/" + datas._id)
                            p #{datas.itemname}
                        span.block2-price.m-text6.p-r-5
                            span $#{datas.itemprice}
              .col-sm-12.col-md-6.col-lg-4.p-b-50
    script(type="text/javascript").
      $(".selection-1").select2({
      minimumResultsForSearch: 20,
      dropdownParent: $('#dropDownSelect1')
      });
      $(".selection-2").select2({
      minimumResultsForSearch: 20,
      dropdownParent: $('#dropDownSelect2')
      });
    // ===============================================================================================
    script(type="text/javascript" src="vendor/sweetalert/sweetalert.min.js")
    script(type="text/javascript").
      $('.block2-btn-addcart').each(function(){
      var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
      $(this).on('click', function(){
      swal(nameProduct, "is added to cart !", "success");
      });
      });
      $('.block2-btn-addwishlist').each(function(){
      var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
      $(this).on('click', function(){
      swal(nameProduct, "is added to wishlist !", "success");
      });
      });
    // ===============================================================================================
    script(type="text/javascript" src="vendor/noui/nouislider.min.js")
    script(type="text/javascript").
      /*[ No ui ]
      ===========================================================*/
      var filterBar = document.getElementById('filter-bar');
      noUiSlider.create(filterBar, {
      start: [ 50, 200 ],
      connect: true,
      range: {
      'min': 50,
      'max': 200
      }
      });
      var skipValues = [
      document.getElementById('value-lower'),
      document.getElementById('value-upper')
      ];
      filterBar.noUiSlider.on('update', function( values, handle ) {
      skipValues[handle].innerHTML = Math.round(values[handle]) ;
      });
    // ===============================================================================================
    script(src="js/main.js")

