extends layout

block content
  if user
    .container
      .row
        .col-md-4
          .card
            .card-header
              img(style='border-radius: 50%', width='100', height='100', src="/profilepic/" + pic)
              .details
                h5.name  #{user.username}
                  ul
                    li
        .col-md-8          
          .card
            .card-header
              | Bio
            .card-body #{bio}
          br    
        .col-sm-12        
          .card
              .card-header
                 My Item Listing
                    .row
                        each datas, i in data
                                img(alt="IMG-PRODUCT" style="width:125px;height:160px;" src= "/itempic/" + datas.itemimageupload )
                                .col-sm-2
                                    a.block2-name.dis-block.s-text3.p-b-5(href="productitem/" + datas._id)
                                        p(style="font-weight:bold;") #{datas.itemname} 
        .col-sm-12.col-md-6.col-lg-4.p-b-50         