extends layout

block content
    form(method="POST" action='/test3')
        input.btn.btn-primary(type='submit' name='acceptbutton',value="Accept Offer")
    //- button.btn.btn-info.btn-lg(type="button" data-toggle="modal" data-target="#offerlist"  style="padding-right:20%;margin-left:15%;margin-top:10px;font-size:10px;") View Offers
    //- #offerlist.modal.fade(role="dialog")
    //-     .modal-dialog
    //-         // Modal content
    //-         .modal-content
    //-             .modal-header
    //-                 h4.modal-title Offers Listed
    //-                 button.close(type="button" data-dismiss="modal") ×
    //-             .modal-body
    //-                 form(method="POST" action='/test3')
    //-                     p(style="font-size:18px") a wishes to purchase b
    //-                     input.btn.btn-primary(href='#',name='acceptme'  type='button',value='Accept offer',style="display: inline-block; margin-right: 10px;")
    //-                     input.btn.btn-danger(href='#', name= 'reject1', type='button',value='Reject offer',style="display: inline-block;")
    //-             .modal-footer
    //-                 button.btn.btn-default(type="button" data-dismiss="modal") Close 

