extends layout
block content
    //Content
    h3#meow(style='text-align:center;font-weight:bold;') Transactions
    a(href='#cats') Cats
    #cats.modal
        .modal-container
            p I love cats
            a(href='#') Close
      
    // Footer
