extends layout
block content
    //Content
    h3#meow(style='text-align:center;font-weight:bold;') Transactions
    each datas, i in data
        p Transaction ID: #{testID}
        p Item Name: #{datas.itemname}
        p Item Price: $#{datas.itemprice}
        p Seller: #{datas.username}
        p Status:
    
    // Footer
