extends layout

block content
  if user
    .row
      .col-md-4
        .profilecenter
          img(style='border-radius: 50%', width='100', height='100', src="/profilepic/" + pic)
          .details
              h5.name  #{user.username}
              ul
                  li
      .col-md-8
        .card
          .card-header Bio           
          .card-body #{bio}         
        br
        br         
        ul#myTab.nav.nav-tabs(role='tablist')
          li.nav-item
            a#home-tab.nav-link(href='/profile/'+current) Listing          
          li.nav-item
            a#profile-tab.nav-link(href='#') Request          
          li.nav-item
            if user.username == current
              a#contact-tab.nav-link(href='/profile/'+current+'/wallet') Wallet     
          li.nav-item
            a#contact-tab.nav-link.active(href='#') Wishlist     
        #myTabContent.tab-content
          #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
            .row
              if pic != null                         
                each datas in data       
                  .div.col-md-3
                    .card 
                      img.card-img-top(style='height:200px;width:auto', src='/itempic/' + data.itemimageupload, alt='Item')                              
                      .card-body
                        a(href='/productitem/' + data._id)
                          p.card-title.text-center(style='height:50px')=data.itemname